@charset "UTF-8";
/* utility */
* {
  box-sizing: border-box;
}

body {
  font-size: 14.4px;
  font-family: "メイリオ", "Meiryo", "ＭＳ ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
}

h3 {
  font-size: 14.4;
  font-weight: normal;
}

p {
  line-height: 1.4583333333;
}

li {
  list-style: none;
  line-height: 1.4583333333;
}

a {
  text-decoration: none;
  color: #24292E;
}
a:hover {
  opacity: 0.8;
}
a:visited {
  color: #24292E;
}

.wrapper {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 60px;
}

.section-title {
  padding-top: 80px;
  padding-bottom: 65px;
  text-align: center;
}

/* header */
header {
  height: 270px;
}
header h1 {
  line-height: 270px;
}
header h1 img {
  width: 120px;
  height: 27px;
}

.header_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 10px;
}

.instagram {
  width: 20px;
  height: 20px;
}

/* mainvisual */
.mainvisual img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  vertical-align: bottom;
}

/* about */
.address {
  margin-top: 37px;
  line-height: 1.5;
  font-size: 14.4;
}

.profile-text p {
  margin-top: 30px;
}

/* works */
.work {
  margin-top: 50px;
}

.work_contents {
  display: grid;
  gap: 23px 24px;
  grid-template-columns: repeat(3, 1fr);
}
.work_contents img {
  width: 100%;
}

/* news */
.news {
  margin-top: 50px;
}

.news_contents .archive {
  display: flex;
  border-top: 1px solid #c8c8c8;
}
.news_contents .archive dt {
  padding: 17.75px 0 17.75px 13.5px;
}
.news_contents .archive dd {
  padding: 17.75px 0;
  margin-left: 84px;
}
.news_contents .archive:last-child {
  border-bottom: 1px solid #c8c8c8;
}

/* contact */
.contact {
  margin-top: 50px;
  text-align: center;
}

.form_name {
  display: flex;
  justify-content: space-between;
}
.form_name label {
  line-height: 1.4583333333;
  align-items: flex-start;
}
.form_name input {
  width: 86.0714285714%;
  height: 43px;
}

.form_mail {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.form_mail label {
  line-height: 1.4583333333;
  align-items: flex-start;
}
.form_mail input {
  width: 86.0714285714%;
  height: 43px;
}

.form_message {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.form_message label {
  line-height: 1.4583333333;
  align-items: flex-start;
}
.form_message textarea {
  width: 86.0714285714%;
  height: 160px;
}

.contact .button_submit {
  display: inline-block;
  width: 200px;
  height: 53px;
  line-height: 53px;
  background-color: #24292E;
  color: #fff;
  margin-top: 30px;
}

/* footer */
footer {
  margin-top: 130px;
  text-align: center;
  background-color: #24292E;
}

footer p {
  color: #fff;
  line-height: 1.5;
  font-size: 10px;
  padding: 10px 0;
}